MONGODB_URI='XXX'
DATABASE_NAME='XXX'

LOCAL_DEV_APP_HOST='XXX'
LOCAL_DEV_APP_PORT='XXX'
AUTHOR='XXX'

WEBSITE_DOMAIN_DEVELOPMENT='xxx'
WEBSITE_DOMAIN_PRODUCTION='xxx'

BREVO_API_KEY="XXX"
ADMIN_EMAIL_ADDRESS="XXX"
ADMIN_EMAIL_NAME="XXX"

ACCESS_TOKEN_SECRET_SIGNATURE="XXX"
ACCESS_TOKEN_LIFE="XXX"

REFRESH_TOKEN_SECRET_SIGNATUTE="XXXX"
REFRESH_TOKEN_SECRET_LIFE="XXX"

CLOUDINARY_CLOUD_NAME="XXX"
CLOUDINARY_API_KEY="XXX"
CLOUDINARY_CLOUD_SECRET="XXX"
